/* Container Styles */
.container {
    display: grid;/* التأكد من أن جميع المربعات تأخذ نفس الارتفاع */
    grid-template-columns: repeat(auto-fill , minmax(240px,1fr));
    gap: 30px; /* مسافة ثابتة بين المربعات */
    margin: 20px auto;
    padding: 0 10px;
  }
  
  /* Box Styles */
  .box {
    flex: 1 1 calc(33.333% - 40px); /* حجم المربع يكون ثلث العرض */
    max-width: 450px; /* عرض المربع الأقصى */
    min-height: 400px; /* الحد الأدنى لارتفاع المربع */
    background-color: #ff7e5f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Icon Styles */
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  
  /* Order Icon Styles */
  .orderIcon {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 100px;
    height: 80px;
    z-index: 1;
  }
  
  /* H1 Styles */
  .H1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    z-index: 0;
  }
  
  /* Body Styles */
  .Body {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    z-index: 0;
  }
  
  /* Link Styles */
  .Link {
    text-decoration: none;
  }
  
  /* Media Query for Small Screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* ترتيب المربعات عموديًا */
      gap: 15px; /* تقليل المسافة بين المربعات */
    }
  
    .box {
      flex: 1 1 100%; /* المربع يأخذ عرض الشاشة بالكامل */
      max-width: 100%; /* عرض كامل للشاشة */
    }
  }
  