/* تصميم الـ Navbar */
.navbar {
  width: 100%;
    height: 120px; /* تعيين ارتفاع ثابت */
    display: flex; 
    justify-content: space-between; /* توزيع العناصر بين الطرفين */
    align-items: center; /* توسيط العناصر عموديًا */
  background-color: #f87800; /* لون الخلفية */
  padding: 0 20px; /* حشوات أفقية فقط */
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

/* الروابط داخل الـ Navbar */
.navbar a {
  display: block; /* جعل كل رابط يظهر ككتلة */
  color: #030303; /* لون النص */
  text-align: center; /* محاذاة النص */
  padding: 8px 16px; /* مسافة داخلية */
  text-decoration: none; /* إزالة الخط السفلي */
  border-radius: 8px; /* زوايا مستديرة */
  transition: all 0.3s ease; /* تأثير التمرير */
}

/* تأثير التمرير على الروابط */
.navbar a:hover {
  background-color: #000; /* لون الخلفية عند التمرير */
  color: #fff; /* لون النص عند التمرير */
}

/* تنسيق الروابط داخل الـ Navbar */
.navbar .navbar-links {
  display: flex; /* جعل الروابط تظهر بجانب بعضها */
  align-items: center; /* محاذاة العناصر عموديًا */
  gap: 20px; /* تباعد بين العناصر */
}

/* تنسيق اسم الموقع */
.navbar .name {
  font-size: 36px; /* حجم النص */
  font-weight: bold; /* النص بخط عريض */
  color: #030303; /* لون النص */
  font-family: 'Arial', sans-serif; /* نوع الخط */
}

.navbar-links .icon{
  width: 40px;
  transform: translateX(-25px);
  position: absolute;    
  top: 35px;
}
