/* ضبط صفحة كاملة */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* يجعل ارتفاع الصفحة 100% من ارتفاع النافذة */
    margin: 0;
}

/* المحتوى الرئيسي */
.main-content {
    flex: 1; /* يجعل المحتوى الرئيسي يمتد ليملأ الفراغ بين الهيدر والفوتر */
}

/* الفوتر */
.footer {
    background-color: #262626;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.footer-top {
    text-align: center;
    margin-top: 30px;
}

.footer-links a {
    color: #868686;
    margin: 0 50px;
    text-decoration: none;
    font-size: 20px;
}

.footer-links a:hover {
    color: #868686;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.footer-section h3 {
    color: #868686;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ff6600;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #ffffff;
}

.social-icons a:hover {
    color: #ff6600;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    padding-top: 10px;
}

.divider {
    border: 0;
    border-top: 0.01em solid #979797;
    margin: 50px 0;
}

.divider1 {
    border: 0;
    width: 70%;
    border-top: 0.01em solid #979797;
    margin: 20px auto;
}
